.filter {
	width: 90%;
	margin: 1.5rem auto;
	padding: 1rem 0;
	background: white;
}

.form-filter {
	width: 100%;
	display: flex;
	gap: 0.5rem;
	flex-direction: column;
}

.form-filter input {
	width: 95%;
	font-size: 1rem !important;
	margin: 0 auto;
}

.select-filter {
	-webkit-appearance: listbox !important;
	width: 100%;
}

.select-filter option {
	padding: 0 !important;
	margin: 0 !important;
}

.range-prices {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.range-prices input[type='range']::-webkit-slider-runnable-track {
	height: 12px;
	background-color: gray !important;
}
.range-prices input::-webkit-slider-thumb {
	height: 16px !important;
	width: 16px !important;
	-webkit-appearance: none !important;
	border-radius: 5px;
	background-color: rgb(47, 47, 47) !important;
}
.range-prices input[type='range']::-ms-thumb {
	margin-top: 1px;
	box-shadow: 1px 1px 1px #000000;
	border: 1px solid #000000;
	height: 19px;
	width: 15px;
	border-radius: 5px;
	background: #0c8af8;
	cursor: pointer;
}

.range-prices .prices {
	display: flex;
	justify-content: space-between;
}

@media (min-width: 648px) {
	.filter {
		transform: translateY(-3rem);
		padding: 1rem;
	}
	.form-filter {
		width: 95%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		background: white;
	}

	#departamento {
		order: 5;
	}
	#ciudad {
		order: 7;
	}
	#zona {
		order: 6;
	}
	.search-form {
		order: 8;
	}
}

@media (min-width: 1119px) {
	.filter {
		transform: translateY(-3rem);
		padding: 1rem;
		width: 60%;
	}
	.form-filter {
		width: 95%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		background: white;
	}

	#departamento {
		order: 5;
	}
	#ciudad {
		order: 7;
	}
	#zona {
		order: 6;
	}
	.search-form {
		order: 8;
	}
}

.vc_custom_1630624290203 {
	height: 200px !important;
}

.sc_content_default {
	padding-top: 54px !important;
}

@media (min-width: 648px) {
	.vc_custom_1630624290203 {
		height: 250px !important;
	}
}

@media (min-width: 1119px) {
	.vc_custom_1630624290203 {
		height: 300px !important;
	}
}
